[submodule "deps/macros"]
	path = deps/macros
	url = https://github.com/HolyBlackCat/macros
[submodule "deps/meta"]
	path = deps/meta
	url = https://github.com/HolyBlackCat/meta
[submodule "deps/math"]
	path = deps/math
	url = https://github.com/HolyBlackCat/math
[submodule "deps/reflection"]
	path = deps/reflection
	url = https://github.com/HolyBlackCat/reflection
[submodule "deps/zstring_view"]
	path = deps/zstring_view
	url = https://github.com/HolyBlackCat/zstring_view
